In [5]:
import pandas as pd
import numpy as np

In [6]:
df1=pd.read_csv('data\daily_sales_data_0.csv')
df2=pd.read_csv('data\daily_sales_data_1.csv')
df3=pd.read_csv('data\daily_sales_data_2.csv')

In [7]:
def process_dataframe(dataset):
    for x in dataset.index:
        if dataset.loc[x,"product"]!='pink morsel':
            dataset.drop(x,inplace=True)
    dataset.reset_index(drop=True)
    dataset["sales"]=3*dataset['quantity']
    dataset.drop(columns=['price', 'quantity'], inplace=True)
    return dataset

In [8]:


df1_processed = process_dataframe(df1)
df2_processed = process_dataframe(df2)
df3_processed = process_dataframe(df3)
combined_df = pd.concat([df1_processed, df2_processed, df3_processed])
combined_df.to_csv('formatted_output.csv', index=False)

In [11]:
combined_df.reset_index(drop=True)
combined_df.head()

        product        date region  sales
0   pink morsel  2018-02-06  north   1638
1   pink morsel  2018-02-06  south   1647
2   pink morsel  2018-02-06   east   1731
3   pink morsel  2018-02-06   west   1557
28  pink morsel  2018-02-07  north   1587